// Heading Color
$heading-color: rgba(0, 0, 0, 0.8);

// Text Color
$text-color: #5a5a5a;

// Default Background
$bg-default: #f57c00;

// Gray Background
$bg-gray: #f7f7f7;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #1b1b1b;

// Border Color
$border-color: #ebebeb;

// Hover Color
$hover-color: #f57c00;

// Footer Color
$footer-color: #252525;

// Border Color
$border-color: #ebebeb;